@model PointOfSale.ViewModel.CategoryVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h5 class="mb-0">Add New Category</h5>
                </div>

                <div class="card-body">
                    <form asp-controller="Category" asp-action="CategoryCreate" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group mb-3">
                            <label asp-for="CategoryName"></label>
                            <input asp-for="CategoryName" class="form-control" />

                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>

                        <div class="form-check mb-3">
                            <input asp-for="IsActive" class="form-check-input" />
                            <label asp-for="IsActive" class="form-check-label"></label>
                           
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary px-5">
                                Save Category
                            </button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}